<div class="main-container">
  <header>
    <img src="Inel-logo.png" alt="INEL logo" />
    <h1 class="h1">INEL Generatorji</h1>
  </header>
 <div class="card-container">
  <div class="card">
    <a routerLink="/gtin-generator">GTIN Generator</a>
  </div>
  <div class="card">
    <a routerLink="/sscc-generator">SSCC Generator</a>
  </div>
 </div>
 <br>
 <br>
 <h2 class="title">Pozdravljeni v GTIN generatorju</h2>
 <br>

  <div>
    <div>
      <label class="st" for="numberOfCodes"><strong>Število GTIN-13 kod:</strong></label>
      <input id="numberOfCodes" type="number" [(ngModel)]="numberOfCodes" min="1" style="width: 43px; margin-right: 117px; margin-left: 27px;"/>
      <button class="generiraj" (click)="generateGTIN()">Generiraj</button>
    </div>
    <br>
    <textarea rows="12" cols="56" readonly>{{ generatedCodes.join('\n') }}</textarea>
  </div>

  <div>
    <h3 style="margin-right: 233px; font-family: Arial; font-size: 20px; ">Izračunaj Check digit</h3>
    <div>
      <input type="number" [(ngModel)]="gtinInput" placeholder="Vnesite 7—13 mestno št." style="margin-right: 182px;"/>
      <button class="izracunaj" (click)="calculate()">Izračunaj</button>
    </div>
    <br><br>
    <div>
      <label style="margin-right: 359px; font-family: Arial; font-size: 17px;"><strong>Rezultat:</strong></label>
      <br><br>
      <input type="text" [value]="checkDigitResult" readonly style="margin-right: 252px;"/>
    </div>
  </div>
</div>
