.title {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Arial;
  text-align: center;
}

header img {
  height: 40px;
  object-fit: contain;
  margin-top : 0px;
  margin-right: 1761px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ddd;
  padding: 2rem;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  font-family: Arial;
  font-size: 20px;
  align-items: center;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  background-color: #1a3d7e;
  color: white;
  cursor: pointer;
}

.card a {
  text-decoration: none;
  color: #003366;
  font-weight: bold;
}

